:local(.addFriendInput) {
  border-radius: 0;
  border-color: #ABAAAA;
  border-left: 0;
  border-right: 0;
}
:local(.containerInput) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

};



:local(.btnAction), :local(.btnAction):active, :local(.btnAction):focus, :local(.btnAction):hover {
  margin-right: 5px;
  color: #5C75B0;
  border-color: #ABAAAA;
}
